@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background-color: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.3em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.2em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .primary-cta:hover {
  background: white;
  color: var(--primary-color);
}

.left-col .watch-video-cta {
  display: block;
  left: 1%;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: .7em;
}

.trying-example {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  background: var(--primary-color);
}

.trying-example .navigation-example {
  position: relative;
  width: 500px;
  height: 70px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
}

.trying-example .navigation-example ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.trying-example .navigation-example ul li {
  position: relative;
  width: 99px;
  height: 70px;
  z-index: 1;
}

.trying-example .navigation-example ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.trying-example .navigation-example ul li a .image {
  position: relative;
  display: block;
  line-height: 75px;
  color: var(--primary-color);
  font-size: 1.5em;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.trying-example .navigation-example ul li a .text {
  position: absolute;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navigation-example ul li.active a .image {
  -webkit-transform: translateY(-29px);
          transform: translateY(-29px);
}

.navigation-example ul li.active a .text {
  opacity: 1;
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

.indicator {
  right: 300px;
  top: -50%;
  position: absolute;
  width: 90px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.indicator::before {
  top: 30px;
  left: -22.3px;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 2.3px -8px 0px 0px var(--primary-color);
          box-shadow: 2.3px -8px 0px 0px var(--primary-color);
}

.indicator::after {
  top: 30px;
  right: -22.3px;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  -webkit-box-shadow: 0px -10px 0px 0px var(--primary-color);
          box-shadow: 0px -10px 0px 0px var(--primary-color);
}

.navigation-example ul li:nth-child(1).active ~ .indicator {
  -webkit-transform: translateX(calc(99px * 0));
          transform: translateX(calc(99px * 0));
}

.navigation-example ul li:nth-child(2).active ~ .indicator {
  -webkit-transform: translateX(calc(99px * 1));
          transform: translateX(calc(99px * 1));
}

.navigation-example ul li:nth-child(3).active ~ .indicator {
  -webkit-transform: translateX(calc(99px * 2));
          transform: translateX(calc(99px * 2));
}

.hero-image {
  width: 70%;
  margin-top: 5em;
}

.features-section {
  background-color: #20272e;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li::before {
  left: -2em;
  top: .23em;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 4em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimonials-section li {
  text-align: center;
  background: #006BD6;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1.5em;
}

.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #006BD6;
  border-radius: 50%;
  margin-top: -4.5em;
}

.contact-section {
  background-color: white;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  resize: none;
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
}

input:focus, textarea:focus {
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--primary-color)));
  background: linear-gradient(to bottom, transparent, var(--primary-color));
}

input[type="submit"] {
  border-radius: 5em;
  border: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0%;
  top: 0%;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.giug {
  color: var(--primary-color);
}

@media only screen and (min-width: 720px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -.2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 0em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 70%;
  }
  .hero-image {
    width: 30%;
    margin-right: 8em;
  }
  .hero-image title {
    border-radius: 50%;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li::before {
    width: 30px;
    height: 30px;
    top: 0em;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 25em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}
/*# sourceMappingURL=styles.css.map */